<app-navegacion />

<router-outlet />

<footer class="layout">
  <p>Autor: Andrés Constante Murillo</p>
  <p>Carrera: Ingeniería en Tecnologías de la Información</p>
  <p>Universidad Técnica de Manabí — 2026</p>
  <address>
    Contacto: <a href="mailto:aconstante6514@helpdesk.utm.edu.ec">aconstante6514@helpdesk.utm.edu.ec</a>
  </address>
  <p>
    Repositorio GitHub:
    <a href="https://github.com/andres-constante-utm/helpdesk-data-center" target="_blank" rel="noopener">
      Ver repositorio del proyecto
    </a>
  </p>
</footer>
